<div>

<!-- No bacwards compatabilty yet: I'm a terrible person!-->
<ul class="menu-bar">
    <a routerLink="/Home"> <li >Home</li> </a>
 <a routerLink="/home"> <li >Crud</li> </a>
 <a routerLink="/about"><li >About</li>  </a>
 <a routerLink="/register"> <li >Register</li>  </a>
 <a routerLink="/login">  <li >Login</li>  </a>
 <a routerLink="/profile"> <li>Resources</li>  </a>
 <a routerLink="/contact"> <li>Help</li>  </a>
 <a routerLink="/login">  <li >Logout</li>  </a>
</ul>


</div>


<router-outlet></router-outlet>
  