<body>
  <div class="wrapper">
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <h2>Please Sign In</h2>
    <form  (ngSubmit)="login()" #loginForm="ngForm">
    <input type="email" id="email" [(ngModel)]="email" name="email" placeholder="Email" required />
    <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Password" required />
   <button type="submit" class="ripple" >login</button>
   <div id="mess"  [ngClass]="messageClass">{{ message }}</div>
    <h2>&nbsp;</h2>
  </form>
  </div>
</div>
</div>
</body>

