<body>
<div class="container">
  <div class="card">
    <img src="https://images.pexels.com/photos/5215024/pexels-photo-5215024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2">
    <div class="card__head">Dr. Patricia Williams : Pediatrician</div>
  </div>
  <div class="card">
    <img src="https://media.istockphoto.com/id/1327957040/photo/shot-of-a-mature-men-doctor-at-his-clinic.jpg?s=612x612&w=0&k=20&c=6aIOX0LCltgjCL-PkyeFG09QSRBws4KaZFod7hzvpVw=">
    <div class="card__head">Dr. Rahul patel : Gastroenterologist </div>
  </div>
  <div class="card">
    <img src="https://cdn.pixabay.com/photo/2024/02/16/21/37/ai-generated-8578391_1280.png">
    <div class="card__head">Dr. Priya Gupta : gynecologist </div>
  </div>
  <div class="card">
      <img src="https://media.istockphoto.com/id/138205019/photo/happy-healthcare-practitioner.jpg?s=612x612&w=0&k=20&c=b8kUyVtmZeW8MeLHcDsJfqqF0XiFBjq6tgBQZC7G0f0=">
      <div class="card__head">Dr. John : Otolaryngologist</div>
    </div>
  <div class="card">
    <img src="https://media.istockphoto.com/id/1206252746/photo/attractive-happy-nursing-student-stands-in-hospital-corridor.jpg?s=612x612&w=0&k=20&c=rKy-jXbLI0YhpwkNv28O0K_-D3Twx3KWcxJLYKdGPMI=">
    <div class="card__head">Dr. Syamala Aiyangar :
      General Physician</div>
  </div>
</div>
</body>