<body>
<div class="container">
  <div class="front side">
    <div class="content">
      <h1>POCKET MEDIC</h1>
      <p>
        PocketMedic is a healthcare app providing accurate, easy-to-understand medicine information for everyone. With a focus on pediatrics, pregnancy, and general health, we aim to empower users with knowledge to make informed decisions. Our app is designed with a user-friendly interface and reliable, up-to-date content.
      </p>
    </div>
  </div>
  <div class="back side">
    <div class="content">
      <h1>Social Media</h1>
      <div class="social-media">
        <a href="https://www.facebook.com" target="_blank" class="social-icon">
          <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb33.png" alt="Facebook" />
          <span class="social-name">Facebook</span>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="social-icon">
          <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb34.png" alt="Twitter" />
          <span class="social-name">Twitter</span>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="social-icon">
          <img src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/bb36.png" alt="LinkedIn" />
          <span class="social-name">LinkedIn</span>
        </a>
      </div>
    </div>
  </div>
</div>
<a class="circle"></a>
</body>